<%= simple_form_for(@post) do |f| %>
    <%= f.error_notification %>

        <div class="container">
        <div class="col-md-8">
            <div class="form-inputs">
                <%=f.input :title,placeholder: "How do I?.."%>
            </div>
            <div class="form-inputs">
               <%= f.label :tag_list, "Tags (separated by commas)" %><br />
              <%= f.input :tag_list, value: f.object.tag_list.to_s ,placeholder: "Tag question?..",input_html:{data:{role:'tagsinput'}} %>
</div>
                <div class="form-inputs">
                    <%=f.input :description,placeholder: "A Thing I need" %>
                </div>
            <div class="actions">
                <%= f.button :submit, "Ask your Question", class: "btn btn-success"%>
            </div>
            </br>
            <%= link_to 'Back', posts_path,class: "btn btn-primary" %>
            </div>

        </div>

        <% end %>