<p id="notice">
    <%= notice %>
</p>
<h1>Let's Discuss </h1>
<% if @posts.blank? %>
    <h4>There are no posts containing the term <%= params[:search] %></h4>
    <% end %>
        <div class="col-md-5 col-md-6">
            Show
            <%= select_tag :per_page, options_for_select([10,20,50], params[:per_page].to_i),
       :onchange => "if(this.value){window.location='?per_page='+this.value;}"%>entries
        </div>
        <table class="col md 8 table table-hover " style="margin-top:20px">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 50.66%;height: 40px">Topics</th>
                    <th>Votes</th>
                    <th>Submitted by</th>
                    <th>Replies</th>
                    <th>Views</th>
                    <th>Activity</th>
                </tr>
            </thead>
            <tbody>
                <% @posts.each do |post| %>
                    <tr>
                        <td>
                            <%= link_to post.title, post %>
                                </br>
                        </td> 
                        <td>
                            <div class="btn-group">
                                <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                    <%= post.get_upvotes.size %>
                                        <% end %>
                                            <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                                <%= post.get_downvotes.size %>
                                                    <% end %>
                                                        </br>
                                                        </br>
                            </div>
                            </div>
                            </td>
                            <td>
                                <%=link_to post.user.name,profile_path(post.user)%>
                            </td>
                            <td>
                                <%= post.comments.count %>
                            </td>
                            <td>
                                <%= post.impressionist_count %>
                            </td>
                            <td>
                                <%= time_ago_in_words(post.created_at)%> ago </td>
                        </td>
                        <td>
                            <%end%>
            </tbody>
            <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
                <%= link_to 'New Post', new_post_path %>