<p id="notice"><%= notice %></p>
<center>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
 <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %>
</p>
<p>
 By <%= @post.user.email %>
</p>
<%= simple_form_for [@post, Comment.new]  do |f| %>
        <div class="field">
            <%= f.input :body%>
            <%= f.submit "Add Comment", class: "btn btn-success" %>
        </div>
        <br>
            <% end %>
                <%= @post.comments.count %> comments:
                    <%= render :partial => @post.comments %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</center>
