<p id="notice"><%= notice %></p>
<h1>
 <i class="fa fa-question-circle" aria-hidden="true"></i>
 <div class="a" style:"width:50%;">
 <%= @post.title %>
 </div>
</h1>
<p>
Asked on <b><%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %></b> By <b><%= @post.user.name %></b> 
</p>
 <% if @post.user == current_user %>
                        <%= link_to 'Delete',@post, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %>
                            <%= link_to 'Edit',edit_post_path(@post), class: "btn btn-primary"%>
                            <%end%>
<p>
  <strong>Views:</strong>
  <%= @post.impressionist_count %>
  </p>
<p>
<%= @post.comments.count %> comments:
 </p>
</p>
                
                    <%= render :partial => @post.comments %>
                       <div class="col-md-8">
     </br>
<%= simple_form_for [@post, Comment.new]  do |f| %>
        <div class="field">
            <%= f.input :body,label:"Comment"%>
            <%= f.submit "Add Comment", class: "btn btn-success" %>
        </div>
        <br>
            <% end %>
<%= link_to 'Back', posts_path,class:"btn btn-success"%>
</div>


<style>
div.a {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width:50%;
}
div.a:hover {
    overflow: visible;
}
</style>
